<template>
  <div>
    <h1>AppleLogin</h1>
    <div id="appleid-signin"
         data-mode="center-align"
         data-type="continue"
         data-color="white"
         data-border="false"
         data-border-radius="50"
         data-width="324"
         data-height="45"
         data-logo-size="medium"
         data-logo-position="24"
         data-label-position="78" >
    </div>
  </div>
</template>

<script lang="ts">
import Vue         from 'vue'
import {Component} from 'nuxt-property-decorator';

@Component({
  head: {
    title : 'AppleLogin',
    meta  : [
      {
        name   : 'appleid-signin-client-id',
        content: `kr.co.geniemusic.stayg.servicesid`
      },
      {
        name   : 'appleid-signin-scope',
        content: `name email`
      },
      {
        name   : 'appleid-signin-redirect-uri',
        content: `https://dev.niceday.io/callback?mode=apple`
      },
      // {
      //   name   : 'appleid-signin-state',
      //   content: `${process.env.APPLE_STATE}`
      // },
      {
        name   : 'appleid-signin-use-popup',
        content: 'false'
      }
    ]
  }
})
export default class AppleLogin extends Vue {

  created() {
    if (process.client) {
      // @ts-ignore
      AppleID.auth.init({
        clientId   : `kr.co.geniemusic.stayg.servicesid`,
        scope      : `name email`,
        redirectURI: `https://dev.niceday.io/callback?mode=apple`,
        // state      : `${process.env.APPLE_STATE}`,
      });
    }
  }
}
</script>
