<template>
  <div>
    <h1>UserDetail</h1>
    {{ user }}
    <h1>Global</h1>
    {{ global.state.token }}
    <h1>Storage</h1>
    {{ storage }}
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {Component, Watch} from 'nuxt-property-decorator';

import {Enum} from '@/src/app/shared/model/enum.model';
import {User} from '@/src/app/sample/user/model/user.model';
import UtilService from '@/src/app/shared/service/util.service';
import StorageService from '@/src/app/shared/service/storage.service';

@Component
export default class UserDetail extends Vue {
  user: User.Response.FindOne = new User.Response.FindOne;
  storage: { localStorage: string; cookies: string } = {localStorage: '', cookies: ''};
  utilService = new UtilService();
  storageService = new StorageService();

  created() {
    this.$store.dispatch('user/getUser', this.$route.params.id);
    this.$store.dispatch('global/setToken', this.utilService.getRandomString(6));
    this.storageService.setLocalStorage(Enum.CORE.STORAGE.KEY.TEST, this.$store.getters['global/getToken']());
    this.storageService.setCookie(Enum.CORE.STORAGE.KEY.TEST, this.$store.getters['global/getToken']());
    this.storage.localStorage = this.storageService.getLocalStorage(Enum.CORE.STORAGE.KEY.TEST, Enum.CORE.STORAGE.TYPE.STRING);
    this.storage.cookies = this.storageService.getCookie(Enum.CORE.STORAGE.KEY.TEST, Enum.CORE.STORAGE.TYPE.STRING);
  }

  @Watch('$store.state.user.user')
  getUser() {
    this.user = this.$store.getters['user/getUser']();
  }
}
</script>
