<template>
  <div>
    <h1>Callback</h1>
    <h6>OTHER</h6>
    <div v-if="this.$route.query.mode === 'google'">
      <h6>구글</h6>
      <h6>code: {{ !!query ? query.code : null }}</h6>
      <input :value="query.code">
      <button type="button" @click="useCallback(query.code)">COPY</button>
    </div>
    <div v-else-if="this.$route.query.mode === 'facebook'">
      <h6>페이스북</h6>
      <h6>code: {{ !!query ? query.code : null }}</h6>
      <input :value="query.code">
      <button type="button" @click="useCallback(query.code)">COPY</button>
    </div>
    <div v-else>
      <h6>APPLE</h6>
      <h6>code: {{ !!body ? body.code : null }}</h6>
      <template v-if="!!body.code">
        <input :value="body.code">
        <button type="button" @click="useCallback(body.code)">COPY</button>
      </template>
      <h6>id_token: {{ !!body ? body.id_token : null }}</h6>
      <template v-if="!!body.id_token">
        <input :value="body.id_token">
        <button type="button" @click="useCallback(body.id_token)">COPY</button>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import Vue         from 'vue'
import {Component} from 'nuxt-property-decorator';

@Component({
  asyncData({query, req}: any) {
    return {query, body: req['body']};
  }
})
export default class Callback extends Vue {
  query!: any;
  body!: any;

  mounted() {
    console.log('query: ', this.query);
    console.log('body: ', this.body);
  }

  useCallback(data: string) {
    if (process.client) {
      const el = document.createElement('textarea');
      el.value = data;
      el.style.position = 'absolute';
      el.style.left = '-9999px';
      document.body.appendChild(el);
      el.select();
      document.execCommand('copy');
      alert('복사가 되었습니다.');
      document.body.removeChild(el);
    }
  }
}
</script>
