<template>
  <div>
    <h1>SPINNER</h1>
    <button @click="onSpinnerStart">START</button>
    <button @click="onSpinnerStop">STOP</button>

    <h1>FooterBar</h1>
    <h3>Filter Test</h3>
    <span>{{ 'sample' | testFilter }}</span>
    <h3>Shared Components Test</h3>
    <n-sample/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import {Component} from 'nuxt-property-decorator';

@Component
export default class FooterBar extends Vue {
  onSpinnerStart() {
    this.$broadcast.onSpinner(this.$enum.CORE.SPINNER.DEFAULT, true);
  }

  onSpinnerStop() {
    this.$broadcast.onSpinner(this.$enum.CORE.SPINNER.DEFAULT, false);
  }
}
</script>
