<template>
  <div>
    <h1>HeaderBar</h1>
    <nuxt-link :to="{path: '/default/album'}">/default/album</nuxt-link>
    <nuxt-link :to="{path: '/default/user'}">/default/user</nuxt-link>
    <nuxt-link :to="{path: '/default/other/index'}">/default/other/index</nuxt-link>
    <nuxt-link :to="{path: '/default/other/server'}">/default/other/server</nuxt-link>
    <nuxt-link :to="{path: '/default/other/login'}">/default/other/login</nuxt-link>
    <nuxt-link :to="{path: '/default/other/middleware'}">/default/other/middleware</nuxt-link>
    <nuxt-link :to="{path: '/default/other/swiper'}">/default/other/swiper</nuxt-link>
    <nuxt-link :to="{path: '/default/apple/login'}">/default/apple/login</nuxt-link>
    <nuxt-link :to="{path: '/default/apple/login-pop'}">/default/apple/login-pop</nuxt-link>

    <button @click="changeLocale('ko')">Ko</button>
    <button @click="changeLocale('en')">En</button>

  </div>
</template>

<script lang="ts">
import Vue         from 'vue';
import {Component} from 'nuxt-property-decorator';

@Component
export default class HeaderBar extends Vue {
  created() {
    console.log(process.env.VUE_APP_ENV);
  }

  changeLocale(locale: string) {
    this.$i18n.setLocale(locale);
  }
}
</script>
