<template>
  <div>
    <h1>OtherMiddlewareAfter</h1>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {Component} from 'nuxt-property-decorator';

@Component
export default class OtherMiddlewareAfter extends Vue {}
</script>
