<template>
  <div class="backdrop" v-if="active.default.visible || active.write.visible">
    <div class="spinner-wrapper default-spinner" v-if="active.default.visible">
      <div class="spinner spinner--rotate-square-2" v-bind:style="{width: `${size}px`, height: `${size}px`}"></div>
      <div class="spinner-content">진행중</div>
    </div>

    <div class="spinner-wrapper version-patch-spinner" v-if="active.write.visible">
      <div class="spinner spinner--mikepad" v-bind:style="{width: `${size}px`, height: `${size}px`}">
        <div class="spinner-inner" v-bind:style="{transform: 'scale(' + (size / 31) + ')'}">
          <div class="binding"></div>
          <div class="pad">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
          </div>
        </div>
      </div>
      <div class="spinner-content">생성중</div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {Component} from 'nuxt-property-decorator';

@Component
export default class NSpinner extends Vue {
  size: number = 80;
  active = {
    default: {visible: false, cnt: 0},
    write: {visible: false, cnt: 0}
  };

  created() {
    this.$broadcast.$on(this.$enum.CORE.SPINNER.DEFAULT, this.onDefaultSpinner);
    this.$broadcast.$on(this.$enum.CORE.SPINNER.WRITE, this.onWriteSpinner);
    this.$broadcast.$on(this.$enum.CORE.SPINNER.SPINNER_ERROR, this.onErrorSpinner);
  }

  beforeDestroy() {
    this.$broadcast.$off(this.$enum.CORE.SPINNER.DEFAULT, this.onDefaultSpinner);
    this.$broadcast.$off(this.$enum.CORE.SPINNER.WRITE, this.onWriteSpinner);
    this.$broadcast.$off(this.$enum.CORE.SPINNER.SPINNER_ERROR, this.onErrorSpinner);
  }

  onDefaultSpinner(useYn: boolean) {
    this.activeSpinner(useYn, this.active.default);
  }

  onWriteSpinner(useYn: boolean) {
    this.activeSpinner(useYn, this.active.write);
  }

  activeSpinner(useYn: boolean, active: { visible: boolean; cnt: number; }) {
    if (useYn) {
      if (active.cnt === 0) {
        active.visible = true;
      }

      active.cnt++;

    } else {
      if (active.cnt !== 0) {

        active.cnt--;

        if (active.cnt === 0) {
          active.visible = false;
        }
      }
    }
  }

  onErrorSpinner() {
    this.active.default.cnt = 0;
    this.active.default.visible = false;

    this.active.write.cnt = 0;
    this.active.write.visible = false;
  }
}
</script>

<style lang="scss" scoped>
.default-spinner .spinner {
  position: relative;

  * {
    line-height: 0;
    box-sizing: border-box;
  }

  &:before {
    content: '';
    width: 100%;
    height: 20%;
    min-width: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    bottom: 0%;
    left: 0;
    border-radius: 50%;
    animation: rotate-square-2-shadow .5s linear infinite;
  }

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #0FB7E8;
    animation: rotate-square-2-animate .5s linear infinite;
    position: absolute;
    bottom: 40%;
    left: 0;
    border-radius: 3px;
  }
}

@keyframes rotate-square-2-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(20%) rotate(22.5deg);
  }
  50% {
    transform: translateY(40%) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 50%;
  }
  75% {
    transform: translateY(20%) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes rotate-square-2-shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

.version-patch-spinner .spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  * {
    line-height: 0;
    box-sizing: border-box;
  }
}

.spinner-inner {
  flex-shrink: 0;
}

.spinner-inner .binding {
  content: '';
  width: 27px;
  height: 4px;
  border: 2px solid #0FB7E8;
  margin: 0 auto;
}

.spinner-inner .pad {
  width: 27px;
  height: 27px;
  border: 2px solid #0FB7E8;
  border-top: 0;
  padding: 4px;
  margin: 0 auto;
}

.spinner-inner .line {
  width: 15px;
  margin-top: 4px;
  border-top: 2px solid #fff;
  opacity: 0;
  animation: mikepad-writeline 3s infinite ease-in;
}

.spinner-inner .line:first-child {
  margin-top: 0;
}

.spinner-inner .line.line1 {
  animation-delay: 0s;
}

.spinner-inner .line.line2 {
  animation-delay: 0.5s;
}

.spinner-inner .line.line3 {
  animation-delay: 1s;
}

.spinner-inner .text {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #0FB7E8;
}

@keyframes mikepad-writeline {
  0% {
    width: 0px;
    opacity: 0;
  }
  33% {
    width: 15px;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
</style>
